.header {
    display: flex;
    background-color: #1F2937;
    flex-wrap: wrap;
    font-family: 'Roboto', sans-serif;
    color: #F9FAF8;
    justify-content: space-between;
}

.logo {
    height: 100px; 
    padding: 20px;
    margin-left: 300px;
}

.first-list ul {
    display: flex;
    list-style-type: none;
    gap: 16px;
    text-decoration: none;
    padding: 40px;
    margin-right: 320px;
}

.hero {
    background-color: #1F2937;
    display: flex;
    margin: 50px;
    align-items: center;
    margin-left: 300px;
    gap: 300px;
}

.text h1 {
    text-align: center;
    width: 500px;
}

.text p {
    text-align: center;
    width: 500px;
} 

.place-holder {
    display:flex;
    background-color: grey;
    height: 200px;
    width: 400px;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 40px;
}

.body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #1F2937;

}

.body h2 {
    font-size: 36px;
    text-align: center;
    justify-content: center;
    font-weight: 900;
    margin-bottom: 5px;
}

.body p {
    text-align: center;
    margin-top: 0;
    font-size: 18px;
}

.button-container {
    display:flex;
    justify-content: center;
    align-items: center;
    gap : 100px;
    align-items: stretch;
    margin: 60px;
}

.button-container button {
    height: 150px;
    width: 150px;
}

.button-container div {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 140px;
    font-size: 15px;
    gap: 10px;
}